/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

/* Header Styling */
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Section Styling */
/* Try It Now section styling */
#try-now {
    background-color: #ecf0f1;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#try-now h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

#try-now p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #34495e;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1rem;
    color: #34495e;
    margin-bottom: 8px;
}

form input {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 6px;
    outline: none;
    width: 60%;
    margin: 0 auto;
}

form button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #2980b9;
}

#predictionResult {
    margin-top: 20px;
    padding: 20px;
    background-color: #dff9fb;
    border: 2px solid #1abc9c;
    border-radius: 6px;
    text-align: center;
}

#predictionResult h3 {
    font-size: 1.8rem;
    color: #2980b9;
}

#predictionResult p {
    font-size: 1.2rem;
    color: #2c3e50;
}

@media (max-width: 768px) {
    #skills {
        width: 80%;
    }

    form button {
        width: 80%;
    }
}

section {
    padding: 40px 20px;
    margin-bottom: 30px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #34495e;
}

section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Results Section (Confusion Matrix) */
.confusion-matrix {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

/* Footer Styling */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
